body {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #B3B2B7;
    font-size: 16px;
    margin: 0;
    /*Es para que la version movil cubra todo el espacio*/
}

h2,
h4 {
    color: #242E53
}

.deportistasDelMes h2 {
    margin: 2rem 1rem;
}

.deportistasDelMes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 5rem;
    /*Es para espaciar abajo la seccion de bannerFinal*/
}

.panelDeDeportistas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.deportista {
    display: none;
}

.deportistaPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
    width: 300px;
}

button {
    font-family: inherit;
    background-color: #8B48BF;
    color: #ffff;
    padding: 0.5rem;
    border-width: inherit;
    border-radius: 20px;
    width: 5.5rem;
}

#bannerFinal {
    background-color: #3CDDF3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem 1rem;
    text-align: center;
    height: 40vh;
    /*Para que el footer conste del 60vh para que en conjunto queden en una sola pantalla*/
}

#bannerFinal H2 {
    color: #FFFFFF;
    margin: 1.5rem;
}

#bannerFinal button {
    font-family: inherit;
    background-color: #8B48BF;
    padding: 0.5em;
    border-width: inherit;
    border-radius: 20px;
    width: 5.5rem;
}




@media(min-width:401px) {

    .panelDeDeportistas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .deportista {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 1em;
        padding: 1em;
        visibility: visible;
    }

    .deportistaPrincipal {
        width: auto;
        padding: 1em;
        margin: 1em;
    }

    #bannerFinal {
        background-color: #8B48BF;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1% 10% 1% 10%;
        text-align: left;
    }

    #bannerFinal H2 {
        width: 20rem;
        text-align: left;        
    }

    #bannerFinal button{
        color: #8B48BF;
        background-color: #ffff;
    }
}